{{ define "bottom" }}  <div id="navigation">
{{ template "nav" }}
  </div>
  <div id="footer">
    <p>Contact Cameron Cooper (aka SPiFF Seattle) at 206-790-7608</p>
  </div>
</div>
</body>
</html>{{ end }}
