{{ define "contact" }}
{{ template "head" }}
<body>
<div id="container">
<div id="header"><img src="images/spiff_art4.png"></div>
  <div id="wrapper">
    <div id="content-non-main">
    <div id="inner-content">
    <p>
      Cameron Cooper<br />
      p: 206-790-7608<br />
      email: cammycooper@gmail.com
    </p>
    </div> <!-- end inner-content -->
    </div> <!-- end content-non-main -->
  </div> <!-- end wrapper -->
{{ template "bottom" }}
{{ end }}
